:root{
    --yello-color :  #eab41e ;
    --blue-for-right : #082e4e ;
    --text-color : rgb(212 234 233);

}   
.rightside{
    margin-left: 18%;
}
body{
    background-color: #082e4e;
    color: var(--text-color);
}

/* home page style  */

.Home{
    display: flex;
    align-items: center;
    justify-items:center ;
    gap: 100px;
    padding: 150px 80px 0px 150px ;
    padding-left: 120px;
}
.homesocial{
    padding: 30px 80px;
    padding-left: 120px;       
}

.Home  span{
    color: var(--yello-color);
}
.Home .left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.Home div{
    display: flex;
    gap: 40px;    
}
.Home button{
    width: 200px;
    padding: 8px 40px;
    font-weight: 600;
}
#getInTouch{
    color: var(--text-color);
    background-color: var(--yello-color);
    outline: none;
    list-style: none;
    border: 1px solid var(--yello-color);
}

#ResumeDownload{
    color: var(--yello-color);
    background-color: var(--blue-for-right);
    border: 1px solid var(--yello-color);
}
#ResumeDownload a{
    color: var(--yello-color);
    background-color: inherit;
}
.devloper{
    width: 300px;
}



/* bro about style after this point */

.socialmedia{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
} 
.about{
    padding: 150px 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.about h1{
    padding-left: 5px;
    border-left: 5px solid var(--yello-color);
}
.about .info{
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* padding-left: 10px; */
    /* border-left: 3px solid var(--yello-color); */
}
.about .techstack{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.techstack .imagestech{
    width: 500px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}



/* skill style goes hear */
 .skill{
    padding: 150px;
 }
 .skill .techstack .imagestech{
    display: flex;

 }


 /* project style */

 .project{
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
 }

 /* cnotact style */

 .contact{
    text-align: center;
 }


 .achievement{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 100px;
    align-items: flex-start;
 }
 .achievement div{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;

 }

.contact{
    display: flex;
    flex-direction: column;
    padding: 100px;
    align-items: center;    
} 
.contact .downform{
    width: 400px;
    font-size: 1rem;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* border: 1px solid var(--yello-color); */
}
.contact .downform input{
    /* background-color: var(--blue-for-right); */
    padding: 10px 10px ;
    outline: none;
    border: 0px;
    border-radius: 5px;
}
.contact .downform button{
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    background-color: #eab41e;
}
textarea{
    height: 120px;
    border-radius: 5px;
    padding: 10px 10px;
    outline: none;
}
.social{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:600px) {
    .rightside{
    margin-left: 0%;
}
.Home{
    flex-direction:column-reverse ;
    gap: 20px;
    padding: 100px 50px ;
}
.Home .left{
    gap: 15px;
    align-items: center;
    text-align: center;
}
.Home div{
    flex-direction: column;
    gap: 20px;    
}
.Home button{
    border-radius: 30px ;
}
.devloper{
    width: 200px;
}
/* bro about style after this point */
.about{
    padding: 130px 30px;
    gap: 20px;
}
.about .info{
    gap: 15px;
}
.techstack .imagestech{
    width: 300px;
}
/* skill style goes hear */
 .skill{
    padding: 150px 50px;
 }
 
 /* project style */

 .project{
    padding: 100px 30px;
 }

 /* cnotact style */

 .contact{
    text-align: center;
 }


 .achievement{
    gap: 30px;
    padding: 100px 30px;
    align-items: flex-start;
 }
 .achievement div{
    /* overflow: hidden; */
    width: 350px;
    gap: 20px;
 }
 .achievement div img{
    width: 350px;
 }

 /* //contact  style*/
 .contact{
    padding: 140px 100px;
} 
.contact .downform{
    width: 300px;
    font-size: 1rem;
    gap: 15px;
}

} 