:root {
  --yello-color: #eab41e;
  --blue-for-right: #082e4e;
  --text-color: rgb(212 234 233);
  --nav-color :rgb(14 39 60);
}
nav {
  width: 18%;
  height: 100vh;
  background-color: rgb(14 39 60);
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.navImg {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav img {
  width: 100px;
}
h4 {
  color: rgb(212 234 233);
  font-size: 1.5rem;
  text-shadow: 1px 1px #3f403f;
}
nav ul {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  font-size: 1rem;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: #e6e8e6;
}
li {
  border: 1px solid #eab41e;
  border-radius: 30px;
  padding: 5px;
  text-align: center;
}
nav ul li :hover {
  cursor: pointer;
}
.hamburgerBar{
  display: none;
}
@media (max-width: 600px) {
  nav {
    display: none;
  }
  .hamburger {
    margin-right: 20px;
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 5;
    /* background-color: #E6E8E6; */
  }
  .hamburger img {
    width: 30px;
    transition: all ease 1s;
  }
  .hamburgerBar{
    display: none;
    position: absolute;
    /* position: sticky; */
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 100px;
    z-index: 1;
    background-color: var(--nav-color);
    transition: all ease 0.3s;
  }
  .hamburgerBar ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .hamburgerBar ul li{
    border-radius : 10px;
    border: none;
    list-style: none;
    text-decoration: none;
  }
}
